:root{
    --color-pink-mist: #D991BA;
    --color-petal-frost: #F5D5ED;
    --color-muted-olive: #8CAE68;
    --color-charcoal: #222021;
    --color-white: #FFFFFF;

    --font-headings: "Marck Script", cursive;
    --font-p: Montserrat, Open Sans, Arial;
    --text-heading-h1: clamp(2.5rem, 10vh, 4rem);
    --text-heading-h2: clamp (1.75rem, 4vh, 2rem);
    --text-p: clamp(1rem, 2.5vh, 2rem)

}

.marck-script-regular {
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
